*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem;
background-color: #68baf1 ;    
}
.logo{
    max-width: 5rem;
    width: 100px;
    height: 100px;
}
.nav-list{
    list-style-type: none;
display: flex;
gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color: black;
}
.Abrir-menu, 
.cerrar-menu{
    display: none;
}
@media  screen and (max-width: 550px) {
    .Abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .Abrir-menu{
        color: black;
    }
    .cerrar-menu{
        color: aliceblue;
    }
    .nav{
      opacity: 0;
      visibility: hidden;
    }   
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
     position: absolute;
     top:0;
     right: 0;
     bottom: 0;
     background-color: black;
     padding: 2rem;
     box-shadow: 0 0 0 100vmax rgba( 0, 0, 0, .5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: black;
    }
    
}
.a{
    font-size: 15px;
}