body{
    
    background-image: linear-gradient(rgba( 5, 7, 12, 0.75 ),rgba(5, 7, 12,0.75)),
    url(fondo.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}